@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    /*--purple: #ac27ac;*/
    --purple: hsl(210, 76%, 31%);
    /* --orange:#e67716; */
    --orange: rgb(56, 191, 196);
    --red:#cb0303;
    --black: #333;
    --light-color:#666;
    --light-white: #ccc;
    --light-bg: #f5f5f5;
    --border: 0.17rem solid var(--black);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.265);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;

    font-family: 'Poppins', sans-serif;
    text-decoration: none;

    transition: all 0.1s linear;
}

*::selection{
    background-color: var(--purple);
    color: white;
}

*::-webkit-scrollbar{
    height: 0.5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--purple);
}

html{
    font-size: 62.5%; 
    overflow-x: hidden;
}

body{
    background-color: var(--light-bg);
} 

section{
    padding: 3rem 2rem;
}

.title {
    text-align: center;
    margin-bottom: 3rem;
    text-transform: uppercase;
    color: var(--black);
    font-size: 4rem;
}

.title span{
    color: black;
}

.message{
    position: sticky;
    top: 0;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color:var(--light-bg);
    
    z-index: 10000;
    gap: 1.5rem;
}

.message span{
    font-size: 2rem;
    color: var(--black);
}

.message i {
    cursor: pointer;
    color: var(--red);
    font-size: 2.5rem;
}

.message i:hover{
    transform: rotate(90deg);
}

.empty{
    padding:1.5rem;

    background-color: var(--white);
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    color:var(--red);
}

.btn, .white-btn{
    background-color: var(--purple);
}

.option-btn{
    background-color:var(--orange);
}

.delete-btn{
    background-color: var(--red);
}

.btn, .option-btn, .delete-btn, .white-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    
    color: white;
    font-size: 1.8rem;
    text-transform: capitalize;

    border-radius: 0.5rem;
    cursor: pointer;
}

.btn:hover, .option-btn:hover, .delete-btn:hover{
    background-color: var(--black);
}

@keyframes fadeIn{
    0%{
        transform: translateY(1rem);
        opacity: 0.2s;
    }
}


/* STYLING THE HEADER THAT APPEARS ON ALL ADMIN PAGES BELOW */

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1000;
    background-color: white;
    box-shadow: var(--box-shadow);
}

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
    max-width: 1300px;
    padding: 2rem;
    margin: 0 auto;
}

.header .flex .logo{
    font-size: 3rem;
    font-weight: bold;
    color:var(--black);
}

.header .flex .logo span{
    color:var(--purple);
}

.header .flex .navbar a{
    margin: 0 1.5rem;
    font-size: 2rem;
    color:var(--black);
}

.header .flex .navbar a:hover{
    color:var(--orange);
}

.header .flex .icons div{
    margin-left: 4rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
}

.header .flex .icons div:hover{
    color: var(--purple);
}

.header .flex .account-box{
    position: absolute;
    top: 120%;
    right: 2rem;
    width: 30rem;
    padding: 2rem;

    box-shadow: var(--box-shadow);
    background-color: white;
    border-radius: 0.5rem;
    border: var(--border);
    text-align: center;

    display: none;
    animation: fadeIn 0.2s linear;
}

.header .flex .account-box.active{
    display: inline-block;
}

.header .flex .account-box p{
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 1.5rem;
}

.header .flex .account-box p span{
    color: var(--purple)
}

.header .flex .account-box .delete-btn{
    margin-top: 0;
}

#menu-btn {
    display: none;
}


/* STYLING ADMIN DASHBOARD & ADMIN HOME PAGE BELOW */

.dashboard .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
}

.dashboard .box-container .box {
    padding: 2rem;
    margin-top: 2rem;
    
    border-radius: 0.8rem;
    background-color: white;
    box-shadow: var(--box-shadow);
    border: var(--border);

    text-align: center;
}

.dashboard .box-container .box h2{
    font-size: 4rem;
    color: var(--black)
}

.dashboard .box-container .box p{
    margin-top: 1.5rem;
    padding: 1.5rem;

    background-color: var(--light-bg);
    color: var(--purple);
    font-size: 2rem;
    border: var(--border);
    border-radius: 0.5rem;
}


/* STYLING THE PRODUCTS PAGE FORM BELOW */

.add-products form{
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
    
    background-color: white;
    border-radius: 0.5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
}

.add-products form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 1.5rem;
}

.add-products form .box{
    width: 100%;
    background-color: var(--light-bg);
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 1.2rem 1.4rem;
    color: var(--black);
    font-size: 1.8rem;
    border: var(--border);
}

.add-products form p, label{
    padding: 1.2rem 1.4rem 1.2rem 0;

    font-size: 1.9rem;
    font-style: italic; 
    color: var(--black);
    text-align: left;
}

.add-products form .select-box{
    width: 42%;
    background-color: var(--light-bg);
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 1.2rem 1.4rem;
    color: var(--black);
    font-size: 1.8rem;
    border: var(--border);
}

.add-products form textarea{
    height: 20rem;
    resize: none;
}

/* STYLING THE PRODUCTS PAGE DISPLAY BELOW */

.show-products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 3.5rem;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: center;
}

.show-products .box-container .box {
    padding: 2rem;
    position: relative;
   
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    background-color: white; 
    text-align: center;
}

.show-products .box-container .product-image{
    width: 100%;
    height: 100%;
}

.show-products .box-container .price {
    padding: 0.5rem 1rem;
    position: absolute;
    top:1rem;
    left:1rem;

    background-color: var(--purple);
    border-radius: 0.5rem;
    color: white;
    font-size: 1.8rem;
}

.show-products .box-container .box .name{
    margin:1rem 0;
    font-size: 2rem;
    font-weight: bold;
    color:black;
 }

.show-products .box-container .box .category{
    display: inline-block;
    padding:1.5rem 1rem;
    
    text-transform: uppercase;
    color: var(--purple);
    font-size: 1.4rem;
    font-weight: bold;

    border: var(--border);
}

.show-products .box-container .box .color{
    display: inline-block;
    padding:1.5rem 1rem;
    
    text-transform: uppercase;
    color: var(--black);
    font-size: 1.4rem;
    font-weight: bold;

    border: var(--border);
}

.show-products .box-container .box .details{
    line-height: 1.5;
    color:var(--light-color);
    font-size: 1.4rem;
    padding :0.5rem 0;
    text-align: justify;
}


/* STYLING THE PRODUCT UPDATE PAGE FORM BELOW */

.update-product form{
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
    
    background-color: white;
    border-radius: 0.5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
}

.update-product form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 1.5rem;
}

.update-product form .product-image{
    width: 80%;
    height: 80%;
    margin-bottom: 0.5rem;

    border: 0.4rem solid var(--black);
    /*border-radius: 0.5rem;*/
}    

.update-product form .box{
    width: 100%;
    background-color: var(--light-bg);
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 1.2rem 1.4rem;
    color: var(--black);
    font-size: 1.8rem;
    border: var(--border);
}

.update-product form p, label{
    padding: 1.2rem 1.4rem 1.2rem 0;

    font-size: 1.9rem;
    font-style: italic; 
    color: var(--black);
    text-align: left;
}

.update-product form .select-box{
    width: 42%;
    background-color: var(--light-bg);
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 1.2rem 1.4rem;
    color: var(--black);
    font-size: 1.8rem;
    border: var(--border);
}

.update-product form textarea{
    height: 20rem;
    resize: none;
}
 
 
/* STYLING THE ORDERS PAGES BELOW */

.placed-orders .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 29rem);
   gap: 4rem;
   align-items: flex-start;
   max-width: 1200px;
   margin: 0 auto;
   justify-content: center;
}

.placed-orders .box-container .box{
   padding:2rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: 0.5rem;
}

.placed-orders .box-container .box p{
   margin-bottom: 1rem;
   font-size: 1.6rem;
   color:var(--light-color);
}

.placed-orders .box-container .box p span{
   color:var(--purple);
}

.placed-orders .box-container .box form{
   margin-top: 1rem;
   text-align: center;
}

.placed-orders .box-container .box form select{
   width: 100%;
   border:var(--border);
   padding: 0.8rem 1.4rem;
   font-size: 1.7rem;
   color:var(--black);
   border:var(--border);
   border-radius: 0.5rem;
   margin: 0.5rem 0;
}


/* STYLING THE USERS PAGE BELOW */

.users .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 29rem);
   gap: 3rem;
   align-items: flex-start;
   max-width: 1200px;
   margin: 0 auto;
   justify-content: center;
}

.users .box-container .box{
   padding:2rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   text-align: center;
}

.users .box-container .box p{
    font-size: 1.7rem;
    color:var(--light-color);
    margin-bottom: 1rem;
    line-height: 1.5;
}

.users .box-container .box p span{
    color:var(--purple);
}

.users .box-container .box .delete-btn{
    margin-top: 0.5;
}

/* STYLING THE MESSAGES PAGE BELOW */

.messages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap:3rem;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.messages .box-container .box{
   padding:2rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: 0.5rem;
   text-align: center;
}

.messages .box-container .box p{
   font-size: 1.6rem;
   color:var(--light-color);
   margin-bottom: 1rem;
   line-height: 1.5;
   text-align: left;
}

.messages .box-container .box p span{
   color:var(--purple);
}

.messages .box-container .product-image{
    width: 90%;
    height: 90%;
    border: var(--border);
}

.messages .box-container .box p b, .messages .box-container .box p b span{
    color: var(--orange);
    text-transform: uppercase;
    font-size: 1.9rem;
    text-align: center;
}








/* MEDIA QUERIES BELOW */

@media (max-width: 991px){

    html{
        font-size: 55%;
    }
}

@media (max-width: 780px){

    #menu-btn {
        display: inline-block;
    }

    .header .flex .navbar{
        position: absolute;
        top: 99%;
        left:0;
        right: 0;

        background-color: white;
        border-top:var(--border);
        border-bottom:var(--border);

        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a{
        margin: 2rem;
        display:block;
    }
}

@media (max-width: 550px){

    html{
        font-size: 50%;
    }
}

